* { margin: 0; padding: 0; box-sizing: border-box; }
.libSection { width: 100%; height: 1000px; display: flex; justify-content: center; align-items: center; }
.libCon { width: 1400px; height: 900px; display: flex; flex-direction: column; }
.title { width: 1400px; height: 100px; display: flex; flex-direction: column; margin-bottom: 50px; border-bottom: 2px solid #16213e; }
.en { font-size: 45px; color: #dbbd70; font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
.Bt { font-size: 19px; font-weight: bold; display: flex; align-items: center; margin-bottom: 5px; color: #16213e; }
.libbox { width: 100%; height: 900px; display: flex; flex-direction: column; }
.libtop { width: 100%; height: 80px; display: flex; justify-content: space-between; align-items: center; flex-direction: row; }
.libsearch { width: 470px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;  }
.libsearch input { padding: 12px; border: 1px solid #ccc; }
.libsearch input:focus { outline-color: #16213e; }
.libsearch button { border: 1px solid #16213e; background-color: #f4f1eb; padding: 8px 15px; border-radius: 5px; cursor: pointer; font-size: 16px; transition: .2s ease; }
.libsearch button:hover { background-color: #16213e; color: #ccc;  }
.total span { font-weight: bold; }
.libbottom { width: 100%; height: 700px; display: flex; flex-direction: column; background-color: #fff; border-radius: 10px; border: 1px solid #ccc; overflow: hidden; }
.books-header { width: 100%; height: 50px; background-color: #16213e; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.B-left { width: 200px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; padding: 8px 10px; }
.B-left div { color: #ccc; text-align: center; line-height: 34px; }
.B-right { width: 580px; height: 100%; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.B-rightA { width: 350px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.B-rightA div { color: #ccc; }
.B-rightA div:nth-child(1) { width: 120px; }
.B-rightB { width: 150px; display: flex; justify-content: space-between; flex-direction: row; align-items: center; padding-right: 10px; }
.B-rightB div { color: #ccc; }
.books-body { width: 100%; height: 650px; display: flex; flex-direction: column; }
.book { width: 100%; height: 130px; border-bottom: 1px solid #cccccc8e; display: flex; justify-content: space-between; align-items: center; flex-direction: row; transition: .2s ease-in-out; }
.book:hover { background-color: #f4f1eb9c; }
.book-left { width: 700px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 8px 10px; }
.book-left img { width: 75px; }
.book-left div:nth-child(1) { width: 30px; text-align: center; }
.booktitle { width: 525px; }
.book-left div { font-size: 15px; }
.book-right { width: 580px; height: 100%; padding: 10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.book-rightA { width: 350px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.book-rightA div { font-size: 15px; color: #333; }
.book-rightA div:nth-child(1) { width: 120px; }
.available { width: 70px; height: 30px; background-color: rgba(166, 255, 193, 0.555); color: rgb(17, 179, 66) !important; border-radius: 10px; border: 1px solid rgba(17, 179, 66, 0.568); display: flex; align-items: center; justify-content: center; }
.not-available { width: 70px; height: 30px; background-color: rgb(255, 134, 134); color: rgb(175, 7, 7) !important; border-radius: 10px; border: 1px solid rgb(175, 7, 7) ; display: flex; align-items: center; justify-content: center; }
.book-rightB { width: 180px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 10px; }
.book-rightB div:nth-child(1) {  font-weight: lighter; color: #ccc; }
.rent { width: 80px; height: 30px; border: 1px solid #16213e; border-radius: 5px; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: .2s ease; }
.n-rent { width: 80px; height: 30px; border: 1px solid #16213e; border-radius: 5px; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: .2s ease; }
.rent:hover { background-color: #16213e; color: #ccc; font-weight: bold; }
.pagination { margin: 20px; text-align: center; font-size: 16px; }
.pagination a { margin: 0 10px; padding: 5px 10px; color: #333; text-decoration: none; transition: .2s ease; }
.pagination a:hover { color: #16213e; }