* { margin: 0; padding: 0; box-sizing: border-box; }
.libSection { width: 100%; height: 1000px; display: flex; justify-content: center; align-items: center; }
.libCon { width: 1400px; height: 900px; display: flex; flex-direction: column; }
.title {  width: 1400px; height: 80px; display: flex; flex-direction: row; margin-bottom: 50px; border-bottom: 2px solid #16213e; }
.Bt {  font-size: 40px; font-weight: bold; height: 80px; display: flex; line-height: 80px; }
.libbox { width: 100%; height: 800px; display: flex; flex-direction: column; }
.libtop { width: 100%; height: 80px; display: flex; justify-content: space-between; align-items: center; flex-direction: row; }
.libsearch { width: 470px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center;  }
.libsearch input { padding: 12px; border: 1px solid #ccc; }
.libsearch input:focus { outline-color: #16213e; }
.libsearch button { border: 1px solid #16213e; background-color: #f4f1eb; padding: 8px 15px; border-radius: 5px; cursor: pointer; font-size: 16px; transition: .2s ease; }
.libsearch button:hover { background-color: #16213e; color: #ccc;  }
.total span { font-weight: bold; }
.libbottom { width: 100%; height: 700px; display: flex; flex-direction: column; background-color: #fff; border-radius: 10px; border: 1px solid #ccc; overflow: hidden; }
.books-header { width: 100%; height: 50px; background-color: #16213e; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.B-left { width: 200px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; padding: 8px 10px; }
.B-left div { color: #ccc; text-align: center; line-height: 34px; }
.B-right { width: 540px; height: 100%; padding: 10px 10px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.B-rightA { width: 300px; height: 100%; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }
.B-rightA div { color: #ccc; }
.B-rightB { width: 150px; display: flex; justify-content: space-between; flex-direction: row; align-items: center; }
.B-rightB div { color: #ccc; }
.books-body { width: 100%; height: 650px; display: flex; flex-direction: column; }
.books-bod