* { margin: 0; padding: 0; box-sizing: border-box; }
.popupSection { width: 100%; height: 1800px; display: flex; justify-content: center; align-items: center; }
.popupBox { width: 1400px; height: 1600px; display: flex; flex-direction: column; }
.title { width: 1400px; height: 100px; display: flex; flex-direction: column; margin-bottom: 50px; border-bottom: 2px solid #16213e; }
.en { font-size: 45px; color: #dbbd70; font-weight: bold; display: flex; justify-content: center; align-items: center; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
.Bt { font-size: 19px; font-weight: bold; display: flex; align-items: center; justify-content: center; margin-bottom: 5px; color: #16213e; }
.popupMaker { width: 1400px; height: 800px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; background-color: #fff; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,0.1); padding: 50px 0; }
.form-box { width: 1200px; display: flex; flex-direction: column; }
.form-box label { font-size: 18px; margin-bottom: 8px; }
.form-box input { padding: 15px; border: 1px solid #ccc; font-size: 17px; }
#image { font-size: 15px; }
.popupMaker button { width: 1200px; height: 50px; font-size: 17px; cursor: pointer; border-radius: 5px; font-weight: bold; border: none; background-color: #16213e; color: #ccc; }
table { border-collapse: collapse; box-shadow: 0 0 15px rgba(0,0,0,0.1); border-radius: 5px; overflow: hidden; background-color: #fff; }
thead { background-color: #16213e; height: 60px; }
th { color: #ccc; }
tbody tr { border-bottom: 1px solid #ccc; height: 130px; }
td a { display: inline-block; width: 80px; height: 30px; line-height: 30px; border-radius: 5px; background-color: #16213e; color: #ccc; justify-content: center; align-items: center; }

.footer { width: 100%; height: 200px; background-color: #16213e; }
.f-top { width: 100%; height: 150px; padding: 10px 20px; border-bottom: #cccccc60 solid 1px; display: flex; justify-content: space-between; flex-direction: row; }
.f-left { width: 200px; height: 100%; }
.f-logo { font-size: 25px; }
.f-left .fab::before { color: #ccc; transition: .2s ease; cursor: pointer; }
.fa-youtube:hover::before { color: red; }
.fa-twitter:hover::before { color: lightblue; }
.fa-facebook:hover::before { color: rgb(0, 0, 187); }
.f-middle { width: 200px; height: 100%; display: flex; justify-content: center; align-items: start; flex-direction: column; }
.f-middle div { color: #ccc; }
.f-right { width: 300px; height: 100%; display: flex; justify-content: center; align-items: start; flex-direction: column; }
.f-right div { color: #ccc; }
.f-bottom { width: 100%; height: 50px; display: flex; justify-content: center; align-items: center; padding: 10px 20px; }
.f-bottom div { color: #ccc; }